
{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1>Articles</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="card {{ loop.index is even ? 'even' : 'odd' }}">
                <h2>{{ article.title }}</h2>
                <div class="orange-bar"></div>
                <div class="card-body">
                    {% if article.imgLink %}
                        <img src="{{ asset(article.imgLink) }}" alt="{{ article.title }}">
                    {% endif %}
                    <div class="card-content">
                        <p>{{ article.content|raw }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun article disponible.</p>
        {% endfor %}
    </div>
{% endblock %}
