
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <h1>Contactez-nous</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.content) }}

    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
