
{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Portfolio</h1>

    <div class="portfolio">
        {% for item in portfolio %}
            <div class="card">
                <h2>{{ item.title }}</h2>
                {% if item.imgLink %}
                    <img src="{{ asset(item.imgLink) }}" alt="{{ item.title }}" style="max-width: 300px;">
                {% endif %}
                <p>{{ item.content|raw }}</p>
            </div>
        {% else %}
            <p>Aucun projet dans le portfolio.</p>
        {% endfor %}
    </div>
{% endblock %}
